<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../_partials/meta'); -%>
  <%- include('../_partials/links'); -%>
  <%- include('../_partials/dark-mode'); -%>
  <%- includeStyle('../style.scss') %>
  <title>David Alsh - All Posts</title>
</head>
<body class="page-posts">
  <%- include('../_partials/nav'); -%>
  <main class="content-max-width framed markdown grow">
    <article v-for="post of posts">
      <h2><a v-bind:href="post.slug">{{ post.title }}</a></h2>
      <h3>{{ post.subtitle }}</h3>
      <div class="tags">
        <span v-for="tag of post.tags">{{tag}}</span>
      </div>
      <p>{{ post.preview }} <a v-bind:href="post.slug">...continue</a></p>
    </article>
  </main>

  <script type="module">
    import * as Vue from 'https://unpkg.com/petite-vue?module'

    void async function main(){
      const posts = await window.fetch('/posts/api/all.json').then(r => r.json())

      Vue.createApp({...posts}).mount(document.querySelector('main'))
    }()
  </script>
</body>
</html>