<% 
  parseYamlFromFile = requireModule('../../_require/parse-yaml.ts', { cwd: template.dirname_absolute() }).parseYamlFromFile
  includeStyle = requireModule('../../_require/include-style.ts', { cwd: template.dirname_absolute() }).includeStyle
  renderMarkdownFile = requireModule('../../_require/render-markdown.ts', { cwd: template.dirname_absolute() }).renderMarkdownFile
  escapeHtml = requireModule('../../_require/escape-html.ts', { cwd: template.dirname_absolute() }).escapeHtml
    
  includeDir('./assets', { cwd: input.dirname_absolute() })

  meta = parseYamlFromFile(locals, './meta.yaml', { cwd: input.dirname_absolute() })
%>
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../_partials/analytics.ejs'); -%>
  <%- include('../../_partials/meta'); -%>
  <title><%= meta.title %></title>

  <meta property="og:url"                content="https://davidalsh.com/<%- output.dirname_relative() %>/" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="<%- meta.title %>" />
  <meta property="og:description"        content="<%- meta.description %>" />
  <meta property="og:image"              content="https://davidalsh.com/<%- output.dirname_relative() %>/<%- meta.image %>" />
  
  <%- include('../../_partials/links'); -%>
  <%- includeStyle(locals, './style.scss', { cwd: input.dirname_absolute() }); -%>
  <%- includeStyle(locals, '../../style.scss', { cwd: template.dirname_absolute() }); -%>
  <%- include('../../_partials/dark-mode'); -%>
</head>

<body class="page-article">
    <header class="content-max-width framed">
      <nav>
        <div>
          <a href="/">Back home</a>
        </div>
        <div>
          <button class="toggle-dark-mode" onclick="toggleDarkMode()">Toggle Dark Mode</button>
        </div>
      </nav>
      <div class="article-details">
        <div>
          <h1 class="article-title"><%- escapeHtml(meta.title) %></h1>
          <p class="article-subtitle"><%- escapeHtml(meta.subtitle) %></p>
        </div>
        <div>
          <p class="article-publish-date">Published<br class="for-desktop"> <%- meta.publish_date %></p>
        </div>
      </div>
      <% if ('video_youtube' in meta) { %>
      <div class="article-image">
        <iframe 
          id="ytplayer" 
          type="text/html"
          width="640" 
          height="360"
          src="https://www.youtube.com/embed/<%- meta.video_youtube %>"
          frameborder="0"></iframe>
      </div>
      <% } else if ('image' in meta) { %>
      <div class="article-image">
        <img src="<%- meta.image %>" alt="<%- meta.image_alt %>">
      </div>
      <% } %>
    </header>

    <main lang="en" class="content-max-width framed markdown grow">
      <%- renderMarkdownFile(locals, './readme.md', { cwd: input.dirname_absolute() }) %>
    </main>

    <script type="module">
      (async () => {
        for (const el of document.querySelectorAll('embed[data-type="code"]')) {
          const src = el.src
          const content = await fetch(src).then(r => r.text())
          const template = document.createElement('template')
          template.innerHTML = content
          el.parentElement.parentElement.classList.add(el.parentElement.className)
          el.parentElement.parentElement.classList.add("line-numbers")
          el.replaceWith(template.content)
        }
      })()
    </script>
</body>
</html>
