<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./_partials/meta'); -%>
  <%- include('./_partials/links'); -%>
  <%- include('./_partials/dark-mode'); -%>
  <%- includeStyle('./style.scss') %>
  <%  includeDir('./assets') %>
  <title>David Alsh Portfolio</title>
</head>
<body class="page-home">
  <%- include('./_partials/nav'); -%>
  <main class="content-max-width framed markdown grow">
    <h3 class="recent-posts">Recent Posts</h3>
  </main>
</body>
</html>
