<%
  includeStyle = requireModule('./_require/include-style.ts').includeStyle
  getPosts = requireModule('./_require/get-posts.ts').getPosts

  includeDir('./assets')
  includeFile('./robots.txt')
  includeFile('./manifest.json')

  postsDetails = getPosts(locals)
%>
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./_partials/meta'); -%>
  <%- include('./_partials/links'); -%>
  <%- includeStyle(locals, './style.scss'); -%>
  <%- include('./_partials/dark-mode'); -%>
  <meta property="og:url"                content="https://davidalsh.com" />
  <meta property="og:type"               content="website" />
  <meta property="og:title"              content="David Alsh - Home Page" />
  <meta property="og:description"        content="Software Engineering Articles, Videos, Tutorials and more" />
  <meta property="og:image"              content="https://davidalsh.com/assets/share.jpeg" />
  <title>David Alsh - Home</title>
</head>
<body class="page-home">
  <%- include('./_partials/nav'); -%>
  <main class="content-max-width framed markdown grow">
    <div class="filter" id="filter">
      <span>Categories</span>
      <button class="unselectable" onclick="filterByTags([])">All</button>
      <button onclick="filterByTags(['article'])">Articles</button>
      <button onclick="filterByTags(['video'])">Videos</button>
      <button onclick="filterByTags(['tutorial'])">Tutorials</button>
    </div>
    <% for (const post of postsDetails.posts) { %>
    <article data-tags="<%= post.tags.join(' ') %>">
      <div>
        <div class="publish-date">
          <time datetime="<%= post.publish_date %>"><%= post.publish_date %></time>
        </div>
        <h2><a href="/posts/<%= post.slug %>"><%= post.title %></a></h2>
        <p><a href="/posts/<%= post.slug %>"><%= post.preview %></a></p>
        <div class="tags">
          <% for (const tag of post.tags) { %>
          <span><%= tag %></span>
          <% } %>
        </div>
        <div class="read-more">
          <a href="/posts/<%= post.slug %>">Read More</a>
        </div>
      </div>
      <div>
        <img src="/posts/<%= post.slug %>/<%= post.image %>" alt="<%= post.image_alt %>">
      </div>
    </article>
    <% } %>
  </main>
  <script type="module">
    function filterByTags(tags) {
      const articles = document.querySelectorAll('article')
      if (tags.length === 0) {
        for (const article of articles) {
          article.style.display = null
        }
        return
      }
      for (const article of articles) {
        const articleTags = article.getAttribute('data-tags')
        let found = false

        for (const tag of tags) {
          if (articleTags.includes(tag)) {
            found = true
            break
          }
        }

        if (found) {
          article.style.display = null
        } else {
          article.style.display = 'none'
        }
      }
    }

    const filterEl = document.querySelector('#filter')
    const filterButtonEls = filterEl.querySelectorAll('button')

    filterEl.addEventListener('click', e => {
      for(const filterButtonEl of filterButtonEls) {
        if (filterButtonEl === e.target) continue
        filterButtonEl.classList.remove('selected')
      }
      e.target.classList.add('selected')
    })

    window.filterByTags = filterByTags
  </script>
</body>
</html>
