<%
  includeStyle = requireModule('./_require/include-style.ts').includeStyle

  includeDir('./assets')
  includeFile('./robots.txt')
%>

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./_partials/meta'); -%>
  <%- include('./_partials/links'); -%>
  <%- includeStyle(locals, './style.scss'); -%>
  <%- include('./_partials/dark-mode'); -%>
  <title>David Alsh Portfolio</title>
</head>
<body class="page-home">
  <script type="application/json">
  </script>
  <%- include('./_partials/nav'); -%>
  <main class="content-max-width framed markdown grow hidden-content">
    <article v-for="post of posts">
      <div>
        <div class="publish-date">
          <time v-bind:datetime="post.publish_date">{{ post.publish_date }}</time>
        </div>
        <h2><a v-bind:href="'/posts/' + post.slug">{{ post.title }}</a></h2>
        <p><a v-bind:href="'/posts/' + post.slug">{{ post.preview }}</a></p>
        <div class="tags">
          <span v-for="tag of post.tags">{{tag}}</span>
        </div>
        <div class="read-more">
          <a v-bind:href="'/posts/' + post.slug">Read More</a>
        </div>
      </div>
      <div>
        <img v-bind:src="'/posts/' + post.slug + '/' + post.image" v-bind:alt="post.image_alt">
      </div>
    </article>
  </main>
  <script type="module">
    import * as Vue from 'https://unpkg.com/petite-vue?module'

    void async function main(){
      const posts = await window.fetch('/posts/api/all.json').then(r => r.json())

      Vue.createApp({...posts}).mount(document.querySelector('main'))

      document.querySelector('main').classList.remove('hidden-content')
    }()
  </script>
</body>
</html>
