<%
  includeStyle = requireModule('./_require/include-style.ts').includeStyle
  getPosts = requireModule('./_require/get-posts.ts').getPosts

  includeDir('./assets')
  includeFile('./robots.txt')
%>
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./_partials/meta'); -%>
  <%- include('./_partials/links'); -%>
  <%- includeStyle(locals, './style.scss'); -%>
  <%- include('./_partials/dark-mode'); -%>
  <title>David Alsh Portfolio</title>
</head>
<body class="page-home">
  <script type="application/json">
  </script>
  <%- include('./_partials/nav'); -%>
  <main class="content-max-width framed markdown grow">
    <% for (const post of getPosts(locals).posts) { %>
    <article>
      <div>
        <div class="publish-date">
          <time datetime="<%= post.publish_date %>"><%= post.publish_date %></time>
        </div>
        <h2><a href="/posts/<%= post.slug %>"><%= post.title %></a></h2>
        <p><a href="/posts/<%= post.slug %>"><%= post.preview %></a></p>
        <div class="tags">
          <% for (const tag of post.tags) { %>
          <span><%= tag %></span>
          <% } %>
        </div>
        <div class="read-more">
          <a href="/posts/<%= post.slug %>">Read More</a>
        </div>
      </div>
      <div>
        <img src="/posts/<%= post.slug %>/<%= post.image %>" alt="<%= post.image_alt %>">
      </div>
    </article>
    <% } %>
  </main>
</body>
</html>
